{% extends "layout.html" %}

{% block content %}
    <nav class="navbar navbar-trans navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapsible">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ path('homepage') }}"><i class="fa fa-eye"></i> WorkWatcher</a>
            </div>
            <div class="navbar-collapse collapse" id="navbar-collapsible">
                <ul class="nav navbar-nav navbar-left">
                    <li><a href="{{ path('homepage') }}" title="Często zadawane pytania">Strona główna</a></li>
                    <li><a href="{{ path('faq') }}" title="Często zadawane pytania">FAQ</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <section class="container-fluid" id="section6">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2 text-center">
                <h1>Często zadawane pytania</h1>
            </div>
            <div class="col-sm-8 col-sm-offset-2">
                <p>
                    <strong>P: Czy dane są bezpieczne?</strong>
                </p>
                <p>
                    O: System WorkWatcher działa w architekturze klient-serwer. Oprogramowanie klienckie oraz
                    serwerowe jest instalowane na komputerach firmy, która kupiła licencję. Żadne dane nie są
                    wysyłane na zewnątrz. Oprogramowanie jest dostarczane razem z kodem źródłowym, więc każdy
                    może sprawdzić jego działanie.
                </p>
                <p>
                    <strong>P: Czy można użyć systemu do monitorowania ludzi pracujących zdalnie?</strong>
                </p>
                <p>
                    O: WorkWatcher może być używany do monitorowania pracowników zdalnych. Jednak takie monitorowanie
                    musi być oparte o bezpieczne połączenia <a href="http://pl.wikipedia.org/wiki/Virtual_Private_Network">
                    Wirtualnej Sieci Prywatnej</a>.
                </p>
                <p>
                    <strong>P: Co się dzieje w czasie awarii sieci?</strong>
                </p>
                <p>
                    O: Jeśli nastąpi tymczasowa awaria sieci i aplikacja klienta nie może się skomunikować z aplikacją
                    pracującą na serwerze, to raport zostanie zbuforowany. Przy następnej próbie wysłania raportu
                    stary raport zostanie wysłany razem z nowym.
                </p>
            </div>
        </div>
    </section>
{% endblock %}
