{% extends "layout.html" %}

{% block content %}
    <nav class="navbar navbar-trans navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapsible">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ path('homepage') }}"><i class="fa fa-eye"></i> WorkWatcher</a>
            </div>
            <div class="navbar-collapse collapse" id="navbar-collapsible">
                <ul class="nav navbar-nav navbar-left">
                    <li><a href="#section1">Czym jest?</a></li>
                    <li><a href="#section2">Jak działa?</a></li>
                    <li><a href="#section3">Więcej informacji</a></li>
                    <li><a href="#section4">Oferta promocyjna</a></li>
                    <li><a href="#section5">Kontakt</a></li>
                    <li><a href="#section6">O firmie</a></li>
                    <li><a href="#section7">Media</a></li>
                    <li><a href="{{ path('faq') }}" title="Często zadawane pytania">FAQ</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <section class="container-fluid" id="section1">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2 text-center">
                <h1>Czym jest <strong>WorkWatcher</strong>?</h1>
                <br />
                <p class="lead">
                    WorkWatcher jest systemem służącym do <strong>nadzorowania</strong> i <strong>śledzenia</strong> postępów pracy pracowników firmy.
                    Jest narzędziem, które pomaga w ocenie wydajności i wartości pracy poszczególnych pracowników.
                </p>
                <br />
                <h1>Jakie korzyści płyną z używania systemu <strong>WorkWatcher</strong>?</h1>
                <br />
                <p class="lead">
                    System WorkWatcher ułatwia <strong>kontrolowanie</strong> pracowników. Przy regularnym sprawdzaniu raportów po pewnym czasie można
                    zweryfikować: czy pracownik przykłada się do pracy, czy cały dostępny czas poświęca na pracę, czy w czasie pracy nie
                    zajmuje się wykonywaniem innych działań z nią nie związanych.
                </p>
            </div>
        </div>
    </section>

    <section class="container-fluid" id="section2">
        <h1 class="text-center">Jak działa <strong>WorkWatcher</strong>?</h1>
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
                <p class="text-center lead">
                    System WorkWatcher działa w architekturze klient-serwer. Aplikacja klienta jest instalowana na każdym monitorowanym komputerze.
                    Aplikacja serwerowa jest instalowana na centralnym serwerze, gdzie będą zbierane dane z aplikacji klienta.
                </p>
                <div class="row">
                    <div class="col-xs-6 text-center">
                        <i class="fa fa-desktop fa-5x"></i>
                        <br /><br />
                        Aplikacja klienta służy do <strong>monitorowania</strong> pracy wykonywanej na komputerze, na którym jest zainstalowana.
                        Co ustaloną ilość sekund jest wysyłany raport zawierający zrzut ekranu na centralny serwer.
                    </div>
                    <div class="col-xs-6 text-center">
                        <i class="fa fa-database fa-5x"></i>
                        <br /><br />
                        Aplikacja serwerowa służy do przeglądania, <strong>analizowania</strong> i <strong>oceniania</strong> nadesłanych raportów.
                        Dzięki prostemu i przejrzystemu interfejsowi można szybko przejrzeć nadesłane przez aplikację klienta raporty.
                        <strong>Zestawienia</strong> notatek ułatwiają <strong>ocenę wydajności</strong> poszczególnych pracowników.
                    </div>
                </div>
            </div>
       </div>
    </section>

    <section class="container-fluid" id="section3">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2 text-center">
                <h1>Gdzie znaleźć więcej informacji?</h1>
                <br>
                <p class="lead">
                    Zachęcamy do zapoznania się z <a href="https://drive.google.com/file/d/0B_Sp7R8DCifjV2JFZkJ2WHNRZUE/edit?usp=sharing" style="color: #ffffff; text-decoration: underline;">prezentacją</a> w której pokazano korzyści płynące z używania WorkWatchera.
                    <br /><br />
                    <i class="fa fa-file-image-o fa-5x"></i>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div class="row">
                    <div class="col-sm-10 col-sm-offset-2 text-center">
                        <a href="https://drive.google.com/file/d/0B_Sp7R8DCifjSDRpRFkwWThQenM/edit?usp=sharing" style="color: #ffffff; text-decoration: underline;">Instalacja virtualbox</a><br />
                        <a href="https://drive.google.com/file/d/0B_Sp7R8DCifjbFg2aGZSTjlrRVk/edit?usp=sharing" style="color: #ffffff; text-decoration: underline;">Licencja</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 text-center">
                <div class="row">
                    <div class="col-sm-10 col-sm-offset-1 text-center">
                        <a href="https://drive.google.com/file/d/0B_Sp7R8DCifjYlA0cUpGWWhFUVk/edit?usp=sharing" style="color: #ffffff; text-decoration: underline;">Lista zmian</a><br />
                        <a href="https://drive.google.com/file/d/0B_Sp7R8DCifjUUUzbEJ5UTNfSUU/edit?usp=sharing" style="color: #ffffff; text-decoration: underline;">Umowa licencyjna</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 text-center">
                <div class="row">
                    <div class="col-sm-10 text-center">
                        <a href="https://drive.google.com/file/d/0B_Sp7R8DCifjX2kxTG5iYktOZ2s/edit?usp=sharing" style="color: #ffffff; text-decoration: underline;">Wymagania sprzętowe-systemowe</a><br />
                        <a href="https://drive.google.com/file/d/0B_Sp7R8DCifjZUNaRTdHenVVZlE/edit?usp=sharing" style="color: #ffffff; text-decoration: underline;">Funkcjonalność systemu</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="container-fluid" id="section4">
        <div class="col-sm-10 col-sm-offset-1">
            <div class="row">
                <p class="text-center lead">
                    W celu zakupu oprogramowania prosimy o kontakt pod adresem &#98;&#105;&#117;&#114;&#111;&#64;&#119;&#111;&#114;&#107;&#119;&#97;&#116;&#99;&#104;&#101;&#114;&#46;&#112;&#108;
                    <br />
                    lub numerem telefonu (+48) 531 805 238.
                </p>
                <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-12 text-center">
                    <ul class="list-group">
                        <li class="list-group-item active">
                            <h2 class="list-group-item-heading">Oferta promocyjna</h2>
                            <h6>Ważna do końca 2014 roku</h6>
                        </li>
                        <li class="list-group-item">
                            <p class="list-group-item-text">Aplikacja klienta dla <b>nieograniczonej ilości komputerów</b></p>
                        </li>
                        <li class="list-group-item">
                            <p class="list-group-item-text">Aplikacja serwerowa z <b>nieograniczoną ilością klientów</b></p>
                        </li>
                        <li class="list-group-item">
                            <p class="list-group-item-text">Obraz wirtualnej maszyny referencyjnego systemu serwerowego</p>
                        </li>
                        <li class="list-group-item">
                            <p class="list-group-item-text">Pełna dokumentacja systemu</p>
                        </li>
                        <li class="list-group-item">
                            <p class="list-group-item-text">Dostęp do wszystkich późniejszych aktualizacji i nowych wersji systemu</p>
                        </li>
                        <li class="list-group-item">
                            <button class="btn btn-default btn-lg btn-block">1230 PLN brutto</button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <section class="container-fluid" id="section5">
        <h1 class="text-center">Kontakt</h1>
        <div class="row">
            <div class="col-sm-4">
                <div class="row">
                    <div class="col-sm-10 col-sm-offset-2 text-center">
                        <h3>Biuro</h3>
                        <p>&#98;&#105;&#117;&#114;&#111;&#64;&#119;&#111;&#114;&#107;&#119;&#97;&#116;&#99;&#104;&#101;&#114;&#46;&#112;&#108;</p>
                        <i class="fa fa-envelope-o fa-5x"></i>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 text-center">
                <div class="row">
                    <div class="col-sm-10 col-sm-offset-1 text-center">
                        <h3>Wsparcie techniczne</h3>
                        <p>&#115;&#117;&#112;&#112;&#111;&#114;&#116;&#64;&#119;&#111;&#114;&#107;&#119;&#97;&#116;&#99;&#104;&#101;&#114;&#46;&#112;&#108;</p>
                        <i class="fa fa-envelope fa-5x"></i>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 text-center">
                <div class="row">
                    <div class="col-sm-10 text-center">
                        <h3>Telefon</h3>
                        <p>(+48) 531 805 238</p>
                        <i class="fa fa-phone fa-5x"></i>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="container-fluid" id="section6">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2 text-center">
                <h1>O firmie</h1>
                <br>
                <p class="lead">
                    System WorkWatcher jest rozwijany przez firmę <a href="http://eventhorizon.pl/">Event Horizon</a>
                </p>
                <p>
                    Event Horizon
                    ul. Pisarzowicka 21,
                    43-512 Janowice,
                    Polska<br />

                    (+48) 502 595 755<br />
                    &#109;&#105;&#99;&#104;&#97;&#108;&#64;&#101;&#118;&#101;&#110;&#116;&#104;&#111;&#114;&#105;&#122;&#111;&#110;&#46;&#112;&#108;<br />
                </p>
            </div>
        </div>
    </section>

    <section class="container-fluid" id="section7">
        <div class="row">
            <h1 class="text-center">Media społecznościowe</h1>
            <br />
            <div class="col-sm-8 col-sm-offset-2 text-center">
                <div class="col-sm-4 col-xs-4 text-center">
                    <a href="https://www.facebook.com/pages/WorkWatcher/680234782058402"><i class="fa fa-facebook fa-4x"></i></a>
                </div>
                <div class="col-sm-4 col-xs-4 text-center">
                    <a href="https://plus.google.com/110460846429461639216/posts"><i class="fa fa-google-plus fa-4x"></i></a>
                </div>
                <div class="col-sm-4 col-xs-4 text-center">
                    <a href="https://twitter.com/workwatcherpl"><i class="fa fa-twitter fa-4x"></i></a>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
