{% set version = "v2" %}

<!DOCTYPE html>
<html lang="pl">
    <head>
        <title>WorkWatcher - narzędzie do monitorowania pracy</title>

        <!--[if IE]>
            <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
        <![endif]-->

        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="WorkWatcher jest systemem służącym do nadzorowania i śledzenia postępów pracy. Pomaga w ocenie wydajności i wartości pracy poszczególnych pracowników" />
        <meta name="keywords" content="WorkWatcher, nadzorowanie, śledzenie postępów, ocena wydajności, pracy" />
        <meta name="robots" content="index, follow" />

        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
        <link href="{{ app.request.basepath }}/css/styles.css?{{ version }}" rel="stylesheet" type="text/css" />
        {# http://bootstrapzero.com/bootstrap-template/sectionalize #}

        {# http://faviconist.com/ #}
        {# http://iconifier.net/ #}
        <link rel="shortcut icon" href="{{ app.request.basepath }}/favicon.ico?{{ version }}" type="image/x-icon" />
        <link rel="apple-touch-icon" href="{{ app.request.basepath }}/apple-touch-icon.png?{{ version }}" />
        <link rel="apple-touch-icon" sizes="57x57" href="{{ app.request.basepath }}/apple-touch-icon-57x57.png?{{ version }}" />
        <link rel="apple-touch-icon" sizes="72x72" href="{{ app.request.basepath }}/apple-touch-icon-72x72.png?{{ version }}" />
        <link rel="apple-touch-icon" sizes="76x76" href="{{ app.request.basepath }}/apple-touch-icon-76x76.png?{{ version }}" />
        <link rel="apple-touch-icon" sizes="114x114" href="{{ app.request.basepath }}/apple-touch-icon-114x114.png?{{ version }}" />
        <link rel="apple-touch-icon" sizes="120x120" href="{{ app.request.basepath }}/apple-touch-icon-120x120.png?{{ version }}" />
        <link rel="apple-touch-icon" sizes="144x144" href="{{ app.request.basepath }}/apple-touch-icon-144x144.png?{{ version }}" />
        <link rel="apple-touch-icon" sizes="152x152" href="{{ app.request.basepath }}/apple-touch-icon-152x152.png?{{ version }}" />
    </head>
    <body>
        {% block content %}{% endblock %}

        <script src="//code.jquery.com/jquery-1.11.2.min.js" type="text/javascript"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js" type="text/javascript"></script>
        <script src="{{ app.request.basepath }}/js/scripts.js?{{ version }}" type="text/javascript"></script>

        {% if (app.debug is defined) and (not app.debug) %}
            <script type="text/javascript">
                (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
                })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

                ga('create', 'UA-15474497-3', 'auto', {
                    'storage': 'none',
                });
                ga('send', 'pageview');
            </script>
        {% endif %}
    </body>
</html>
